<script>
import { debounce } from "lodash";
import { createSearchService, searchMachine } from "./fetchMachine";

const fetchStarWarsStuff = query =>
  fetch(`https://swapi.co/api/people/?search=${query}`)
    .then(res => res.json())
    .then(res => res.results);

const starWarsSearchService = createSearchService(fetchStarWarsStuff);

export default {
  name: "Toggle",
  created() {
    this.searchService
      .onTransition(state => {
        this.state = state;
        this.context = state.context;
      })
      .start();
  },
  data() {
    return {
      searchService: starWarsSearchService,
      state: searchMachine.initialState,
      context: searchMachine.context,
      searchQuery: "",
      showDebuggingInfo: false
    };
  },
  watch: {
    searchQuery(value) {
      this.sendSearchQuery(value);
    }
  },
  methods: {
    send(event) {
      this.searchService.send(event);
    },
    sendSearchQuery: debounce(function(query) {
      this.searchService.send({ type: "SEARCH", query });
    }, 400)
  }
};
</script>

<template>
  <div>
    <label>
      Show debugging info
      <input type="checkbox" v-model="showDebuggingInfo" />
    </label>
    <p>
      <input v-model="searchQuery" @blur="send('RESET')" />
    </p>
    <p v-if="showDebuggingInfo">State: {{ state.value }}</p>
    <p v-if="state.matches('idle.withValue')">
      Please enter at least 3 characters.
    </p>
    <p v-if="state.matches('fetching')">Boba Fettching ...</p>
    <p v-if="state.matches('success.withoutData')">
      Nothing to see here. Move on.
    </p>
    <div v-if="state.matches('success.withData')">
      <ul>
        <li v-for="result in context.results" :key="result.id">
          {{ result.name }}
        </li>
      </ul>
    </div>
  </div>
</template>

<style>
input {
  border: 1px solid coral;
  border-radius: 0.4rem;
  padding: 0.8rem;
  font-size: 1.3rem;
}
</style>
